<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heima.data_platform.emp.dao.EnterpriseMapper">

    <update id="updateEnterprise">
        update emp_ent  set update_time = #{update_time},operate_by = #{operate_by}
        <if test="group_id != null and group_id != ''">,group_id = #{group_id}</if>
        <if test="enterprise != null and enterprise != ''">,enterprise = #{enterprise}</if>
        <if test="addr != null and addr != ''">,addr = #{addr}</if>
        <if test="director != null and director != ''">,director = #{director}</if>
        <if test="phone != null and phone != ''">,phone = #{phone}</if>
        <if test="simple_name != null and simple_name != ''">,simple_name = #{simple_name}</if>
        <if test="enable != null">,enable = #{enable}</if>
        <if test="deleted != null">,deleted = #{deleted}</if>
        where id = #{id}
    </update>

    <select id="getEnterprise" resultType="com.heima.data_platform.emp.common.Enterprise">
        select A.id, A.group_id, A.enterprise, A.addr, A.director, A.phone, A.simple_name, A.create_time, A.operate_by, A.update_time, A.enable, A.deleted,B.name as group_name from emp_ent A
        LEFT JOIN emp_group B ON A.group_id = B.id where A.deleted = 0
        <if test="group_id != null"> and A.group_id = #{group_id}</if>
    </select>
</mapper>