<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heima.data_platform.emp.dao.GroupMapper">

    <update id="updateGroup">
        update emp_group  set update_time = #{update_time},operate_by = #{operate_by}
        <if test="name != null and name != ''">,name = #{name}</if>
        <if test="addr != null and name != ''">,addr = #{addr}</if>
        <if test="ascription != null and name != ''">,ascription = #{ascription}</if>
        <if test="enable != null and name != ''">,enable = #{enable}</if>
        <if test="deleted != null and name != ''">,deleted = #{deleted}</if>
        where id = #{id}
    </update>
</mapper>